{% extends "main.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1>Восстановление пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите ваш пароль дважды</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>Ссылка возможно была использована, либо недействительна. Проверьте, не использовали ли вы ее.</p>
    {% endif %}
{% endblock %}